SERVER_HOST=YOUR_SERVER_HOST
POSTGRES_PASSWORD=CHANGE_ME
NAKAMA_SERVER_KEY=CHANGE_ME
NAKAMA_HTTP_KEY=CHANGE_ME
NAKAMA_CONSOLE_USERNAME=admin
NAKAMA_CONSOLE_PASSWORD=CHANGE_ME
NAKAMA_CONSOLE_SIGNING_KEY=CHANGE_ME
NAKAMA_SESSION_ENCRYPTION_KEY=CHANGE_ME
NAKAMA_REFRESH_ENCRYPTION_KEY=CHANGE_ME
NAKAMA_PORT=7350
NAKAMA_CONSOLE_PORT=7351
FRONTEND_PORT=80
VITE_NAKAMA_SSL=false
